body{
    margin: 0px;
    overflow-x: hidden;
}

.logo{
    width: 150%;
    height: 70px;
}
.crsl{
    height: 200px;
}
.srvs{
    color: rgb(179, 55, 141);
}
.cd{
    height: 350px;
    

}
.ca{
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  .ca:hover{
    transform: scale(1.05);
  }
.ga{
    height: 250px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(206, 60, 145);
}